$wet-ashphalt: #34495e;
$coastal-breeze: #dff9fb;
$gutter-vertical: 0.83rem; 
$ml:1.66rem;
$city-light: #dfe4ea;
$grey: #555;

$facebook-color: #3b5999;
$whatsapp-color: #25D366;
$gutter-vertical: 0.83rem; 

// grid-guuter

$gutter-horizontal: 1.66rem;